*{
    font-family: Roboto;
}
:root{
    --cor1 : #0B5431;
    --cor2 : #4C710E;
    --cor2fade : #71972c;
    --cor3 : #1B2B00;
    --cor4 : #CEC75F;
    --main : white;
    --letter : black;
}
.darkmode{
    --cor1 : #0B5431;
    --cor2 : #4C710E;
    --cor2fade : #303f14;
    --cor3 : #1B2B00;
    --cor4 : #CEC75F;
    --main : rgb(51, 51, 51);
    --letter : rgb(255, 255, 255);
}
.card1, .card-text{
    background-color: var(--main);
    color: var(--letter);
}
section, div{
    display: flex;
}
body{
    background-color: var(--main);
}
/* navbar */
.navbar{
    background-color: var(--cor1);
    box-shadow: 0 0 5px grey;
}
.navbar a:hover{
    color: black;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, p{
    color: var(--letter);
}
#nav img{
    width: 50px;
    height: 50px;
}
#nav p{
    color: var(--cor4);
}
#navItem{
    list-style: none;
    gap: 10px;
    margin-right: 20px;

}
.navbar a{
    text-decoration: none;
    transition: all .2s;
    color: var(--cor4);
}
.navbar img{
    width: 50px;
}

ul{
    list-style: none;
}
/* banner img */
#banner2{
    width: 700px;
}
#banner2 img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px ;
}
#banner3{
    width: 700px;
}
#banner3 img{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px ;
}
/* footer */
footer{
    background-color: var(--cor1);
    color: var(--cor4);
    box-shadow: 0 0 10px var(--cor2);
}
#trocaTema{
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--cor3);
    display: flex;
    justify-content: center;
    align-items: center;

}
#trocaTema svg{
    fill: var(--cor2);
}
#trocaTema svg:last-child{
    display: none;
}
.darkmode #trocaTema svg:first-child{
    display: none;
}
.darkmode #trocaTema svg:last-child{
    display: block;
}