:root{
    --cor1 : #0B5431;
    --cor2 : #4C710E;
    --cor2fade : #71972C;
    --cor3 : #1B2B00;
    --cor4 : #CEC75F;
}
.carousel-inner{
    height: 35em;
}
.imgA{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    height: 400px;
}
#sec2blog{
    background-color: var(--cor2fade);
    box-shadow: 0 0 10px var(--cor2);
}

