:root{
    --cor1 : #0B5431;
    --cor2 : #4C710E;
    --cor2fade : #71972C;
    --cor3 : #1B2B00;
    --cor4 : #CEC75F;
}


#nav p{
    color: var(--cor4);

}
.sec1 p{
    width: 500px;
    text-align: justify;
}
#bannerCircular{
    width: 350px;
}
#bannerCircular img{
    border-radius: 50%;
}
#secao1{
    height: 400px;
}
#banner2{
    width: 500px;
}
#banner2 img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 30px;

}
#secao2{
    height: 400px;
    background-color: var(--cor2fade);
    box-shadow: 0 0 5px var(--cor3);
}

.drop{
    background-color: var(--cor2fade);
    box-shadow: 0 0 10px var(--cor3);
    border: none;
    width: 300px;
}
#painelForm{
    height: 500px;
}

#secao4{
    background-color: var(--cor2fade);
    box-shadow: 0 0 10px var(--cor3);
    margin: 20px 0;
}
.sec4img{
    gap: 20px;
}
#btnH{
    position: fixed;
    bottom: 7%;
    right: 2%;
}
#btnH img,#btnH2 img{
    width: 30px;
}
#btnH2{
    position: fixed;
    bottom: 2%;
    right: 2%;
}